.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  position: relative;
  color: black; /* Default color */
  text-decoration: none; /* Removes underline */
  transition: color 0.3s ease; /* Smooth transition for color */
}

.nav-link:hover, .nav-link:focus {
  color: #717171; /* Color on hover */
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #B88E2F;
  transition: transform 0.3s ease; /* Smooth transition for the underline */
  transform: scaleX(0);
  transform-origin: left; /* Start the animation from the left */
}

.nav-link:hover::after, .nav-link:focus::after {
  transform: scaleX(1); /* Scale to full width on hover */
}



